<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if user.is_authenticated %}
        {{user}}'s friends
        {% else %}
        'Social-media'
        {% endif %}
    </title>
</head>

<body>
    <ul>
        {% for friend in request.user.friends.all %}

        <li>{{friend}} <a href="/deleteFriend/{{friend.id}}/">delete friend </a>
        </li>

        {% endfor %}
        <br>
        {% for friend_request in all_friend_requests %}
    <h1>{{friend_request.from_user}} <a href="/accept_friend_request/{{friend_request.id}}/">accept friend request</a>
    </h1>
    {% endfor %}
    </ul>
</body>

</html>